@font-face {
    font-family: D-DIN-Bold, sans-serif;
    src: url('fonts/d-din/D-DIN-Bold.otf');
}
@font-face {
    font-family: D-DIN-Regular, sans-serif;
    src: url('fonts/d-din/D-DIN.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color:#fff;
    font-family: D-DIN-Bold,Arial,Verdana,sans-serif;
}

a{
    color: #fff;
}

/* svg ( scalable vector graphics ) */

svg{
    fill: #fff;
}

header{
    display: flex;
    align-items: center;
    padding: 20px 50px;
    max-width: 1400px;
    margin: 0 auto;
    height: 40px;
    position: fixed;
    top:0;
    z-index: 2;
}

header svg{
    width: 140px;
}
header a.logo{
    position: fixed;
    top:20px;
    left: 50%;
    margin-left: -70px;
}

@media (min-width: 1000px) {
    header svg{
        width: 200px;
    }
    header a.logo{
        margin-right: 40px;
        position: relative;
        top:initial;
        left: initial;
        margin-left: initial;
    }
}